<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/toastr.css">
  <link rel="stylesheet" href="stylesheets/jquery-confirm.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <title>{{title}}</title>
</head>

<body>
  <h1 class="text-center"><span class="badge badge-info">{{rotina}} - Loja do Hugo Vinicius</span></h1>

  {{{body}}}

  <script src="js/jquery.min.js"></script>
  <script src="bootstrap/js/popper.min.js"></script>
  <script src="js/jquery-confirm.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="js/toastr.min.js"></script>
  <script src="js/all.js"></script>
</body>

</html>